<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shapelyapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CalendarActivity" />
        <activity android:name=".AlonePracticeActivity" />
        <activity android:name=".PracticeInstructionsActivity" />
        <activity android:name=".ShowPracticeActivity" />
        <activity android:name=".StepCounterActivity" />
        <activity android:name=".FoodMoodActivity" />
        <activity android:name=".WorkoutActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SigninActivity" />
        <activity android:name=".AboutusActivity" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>