<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shapelyapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CalendarActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".AlonePracticeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".PracticeInstructionsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ShowPracticeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".StepCounterActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".FoodMoodActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".WorkoutActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MenuActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SigninActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".AboutusActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".HomeActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>